server/venv/
server/.idea/workspace.xml
server/.idea/server.iml
*.pyc
server/venv1/
server/local.db
server/unittests/api/local.db
server/unittests/repositories/local.db
client/.idea/caches/
client/.idea/codeStyles/Project.xml
